.o_form_view, .o_list_view {
    background-color: #1A7493 !important;
}

.o_form_view .o_form_sheet_bg {
    background-color: #1A7493 !important;
}

.o_kanban_view {
    background-color: #1A7493 !important;
}

.o_kanban_view .o_kanban_record {
    background-color: #1A7493 !important;  /* Para que las tarjetas sean legibles */
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.o_kanban_view.o_view_controller {
    background-color: #1A7493 !important;
}